@import "tailwindcss";

@theme {
  --color-background: oklch(26.8% 0.007 34.298); /* body background */
  --color-primary: #ffc404;
  --color-dark: #312c1d;
  --color-dark0: #1d1a16;
  --color-main: #e4ddd4;
  --font-lato: "Lato", sans-serif;
}

@layer base {
  body {
    @apply px-4 md:px-8 lg:px-24 mt-8 min-h-screen;
    background-color: var(--color-background);
    color: #d9e2f1;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .added-button {
    background-color: #7f868c !important;
    color: white !important;
  }
}
